{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
               
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Adress</th>
                <th>Additional_adress</th>
                <th>Post_code</th>
                <th>City</th>
                <th>Day_of_bird</th>
                <th>Sex</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.additionalAdress }}</td>
                <td>{{ user.postCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.dayOfBird ? user.dayOfBird|date('d-m-Y') : '' }}</td>
                <td>{{ user.sex }}</td>
                <td><a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px; border: none;">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_new') }}" style="display: inline-block; background-color: #008CBA; color: white; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px; border: none;">Create new</a>
{% endblock %}
